.box {
  width: 300px;
  height: 300px;
  border: 1px solid burlywood;
}

.circle {
  width: 70px;
  height: 70px;
  border: 50%;
  border-radius: 50%;
  border: 1px solid rgb(18, 194, 194);
  background-color: aqua;

  animation-name: square;
  animation-duration: 6000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 1000ms;
}

@keyframes square {
  0% {
    background: rgb(179, 13, 13);
    transform: translate(0px, 0px);
  }

  25% {
    background: rgb(179, 162, 13);
    transform: translate(0px, 228px);
  }

  50% {
    background: rgb(11, 240, 42);
    transform: translate(228px, 228px);
  }

  75% {
    background: rgb(9, 216, 216);
    transform: translate(228px, 0px);
  }

  100% {
    background: rgb(24, 13, 179);
    transform: translate(0px, 0px);
  }
}